


          <%= form_for([@project, @comment], html: { method: :post, class: 'sky-form'  }) do |f|  %>
              <header>Project comments</header>
              <fieldset>
                <dl class="dl-horizontal">
                  <% if @comment.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                        <ul>
                          <% @comment.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>


                  <dt>Comment</dt>
                  <dd>
                    <section>
                      <label class="textarea textarea-resizable">
                        <%= f.text_area :content, class: 'form-control', placeholder: 'Put your comment here'%>
                      </label>
                    </section>
                  </dd>


                  <br>

                  <button class="btn-u" type="submit">Save comment</button>

                </dl>
              </fieldset>
          <% end %>

