<div class="panel panel-profile">
  <div class="panel-heading overflow-h">
    <a href="#"><i class="fa fa-cog pull-right"></i></a>
  </div>
  <div class="panel-body">
    <div class="media media-v2">
      <a class="pull-left" href="#">
        <img class="media-object rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <strong><a> <%= @comment.username %></a></strong>

            <small class="pull-right">About an hour ago</small>

        </h4>
        <p>
          <%= @comment.content %>
        </p>
        <ul class="list-inline results-list pull-left">
          <li><a href="#">25 Likes</a></li>
          <li><a href="#">10 Share</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
          <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
          <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
        </ul>
      </div>
    </div><!--/end media media v2-->
    <button type="button" class="btn-u btn-u-default btn-block">Load More</button>
  </div>
</div>
