<div class="panel panel-profile">
  <div class="panel-heading overflow-h">
    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Projects Comments</h2>
    <a href="#"><i class="fa fa-cog pull-right"></i></a>
  </div>
  <div class="panel-body">
    <div class="media media-v2 margin-bottom-20">
      <a class="pull-left" href="#">
        <img class="media-object rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <strong><a href="#">Lee Parker</a></strong> @LeePark
          <small>12 hours ago</small>
        </h4>
        <p>Pellentesque scelerisque vitae mi quis sollicitudin. Sed pellentesque nulla eleifend hendrerit rhoncus. Aenean rhoncus imperdiet pretium. Nunc vitae egestas eros, vel fringilla arcu. Duis vel libero sit amet metus faucibus venenatis in sit amet nisl. Fusce imperdiet enim risus. Cras orci velit, tempor dignissim ante eget, rhoncus hendrerit nisi. </p>
        <ul class="list-inline img-uploaded">
          <li><img class="img-responsive" src="assets/img/main/img12.jpg" alt=""></li>
          <li><img class="img-responsive" src="assets/img/main/img3.jpg" alt=""></li>
          <li><img class="img-responsive" src="assets/img/main/img16.jpg" alt=""></li>
        </ul>
        <ul class="list-inline results-list pull-left">
          <li><a href="#">7 Likes</a></li>
          <li><a href="#">2 Share</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
          <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
          <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
        </ul>

        <div class="clearfix"></div>

        <div class="media media-v2">
          <a class="pull-left" href="#">
            <img class="media-object rounded-x" src="assets/img/testimonials/img7.jpg" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <strong><a href="#">Edward Rooster</a></strong> @EdwardRooster
              <small>7 hours ago</small>
            </h4>
            <p>How was trip?</p>
            <ul class="list-inline results-list pull-left">
              <li><a href="#">0 Likes</a></li>
              <li><a href="#">0 Share</a></li>
            </ul>
            <ul class="list-inline pull-right">
              <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
              <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
              <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
            </ul>

            <div class="clearfix"></div>

            <div class="media media-v2">
              <a class="pull-left" href="#">
                <img class="media-object rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                  <strong><a href="#">Lee Parker</a></strong> @LeePark
                  <small>9 hours ago</small>
                </h4>
                <p>Amazing!</p>
                <ul class="list-inline results-list pull-left">
                  <li><a href="#">0 Likes</a></li>
                  <li><a href="#">0 Share</a></li>
                </ul>
                <ul class="list-inline pull-right">
                  <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
                  <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
                  <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/end media media v2-->
    <button type="button" class="btn-u btn-u-default btn-block">Load More</button>
  </div>
</div>
</div>