<%= form_for([@project, @page], html: { method: :put, class: 'sky-form'  }) do |f|  %>
    <header>Edit home page project</header>
<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% @page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<fieldset>
  <dd>
      <section>
        <%= f.cktext_area :content, :rows => 20, :ckeditor => {:toolbar => "mini"} %>
      </section>
  </dd>

  <button class="btn-u" type="submit">Save Changes</button>

</fieldset>

<% end %>