<%= content_for :navproject do %>
    <ul class="nav nav-tabs">
            <li><%= link_to 'Storys', project_path(@project)%></li>
            <li><%= link_to 'Updates', projectsupdates_path(@project)%></li>
            <li><%= link_to 'Comments', new_project_comment_path(@project)%></li>
    </ul>
<% end %>