<%= content_for :rewardsidebar do %>
    <div class="col-md-4">
      <div class="panel" id="midCol">
        <div class="panel-heading" style="background-color:#555;color:#eee;">New Stories</div>
        <div class="panel-body">

          <section id="reward_asigned">
            <header><h1>Select Reward</h1></header>
            <article>
              <% @project.rewards.each do |reward| %>

                  <div class="thumbnail">
                    <img data-src="3" alt="">
                    <div class="caption">
                      <h3> <%= link_to reward.name,    project_select_reward_path(@project, reward)%></h3>

                      <p>
                        <%=reward.description %>
                      </p>
                      <p>
                        <%=number_to_currency(reward.price) %>
                      </p>
                    </div>
                  </div>

              <% end %>
            </article>
          </section>

        </div>
      </div><!--/panel-->
    </div><!--/end mid column-->
<% end %>

