<!--=== Slider ===-->
<div >
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img">
        <%= image_tag('1.png', class: 'img-responsive') %>
      </div>
    </div>
    <div class="da-slide">
      <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
      <div class="da-img">
        <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0"   allowFullScreen></iframe>
      </div>
    </div>
    <div class="da-slide">
      <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img">
        <%= image_tag('html5andcss3.png', class: 'img-responsive', alt: 'image01' ) %>
      </div>
    </div>
    <div class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </div>
  </div>
</div><!--/slider-->
<!--=== End Slider ===-->