<%= render 'layouts/rewardsidebar' %>
<%= render 'layouts/navproject' %>



<div class="col-md-7" id="content">
  <div class="panel">
    <div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>
    <div class="panel-body">

      <section id="project_content">
        <%=  sanitize(@page.content) %>
      </section>

    </div><!--/panel-body-->
  </div><!--/panel-->
  <!--/end right column-->
</div>